@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* tailwindcss root */
@import "tailwindcss";

* {
  /* font-family: "Inter", sans-serif; */
}
/* for linux os theme */
@theme {
  --color-os-white: #fafafa;
  --color-os-black: #242424;
  --color-os-black-50: #303030;
  --radius-os-border: 12px;
  --border-os-black: #4F4F4F;
  
  --font-os-family: "Inter", sans-serif;
  --shadow-os-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  /* --color-os-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
     --color-os-shadow_hover: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
     --color-os-shadow_active: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3); */
}

.c-conter {
  @apply flex items-center justify-center;
}


@font-face {
  font-family: 'Fira Code';
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}

/* Scrollbar for Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: #1f1f1f; /* Dark track */
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #2f2b8c; /* Primary color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}
